{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'frontend/logo.png' %}">
    <title>Vault Guard</title>
    <style>
        .curved {
            position: relative;
            background: #212529;
            height: 50vh;
            border-bottom-left-radius: 50% 0%;
            border-bottom-right-radius: 50% 0%;
        }
    </style>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'frontend:landing' %}"><img src="{% static 'frontend/logo.png' %}"
                style="height: 50px; width: 50px">Vault Guard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#login-modal" data-bs-toggle="modal"
                        data-bs-target="#login-modal">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#register-modal" data-bs-toggle="modal"
                        data-bs-target="#register-modal">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="mx-auto" style="width: 85%" id="login-form">
                    <input class="form-control mb-2" type="text" name="username" id="login-username"
                        placeholder="Username">
                    <input class="form-control mb-2" type="password" name="password" id="login-password"
                        placeholder="Password">
                    <div class="ms-3 text-start">
                        <label for="login-picture" class="form-label text-start">Account Picture</label>
                    </div>
                    <input class="form-control" accept="image/png, image/jpeg" type="file" id="login-picture">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark w-100" id="login-button">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="register-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="mx-auto" style="width: 85%" id="register-form">
                    <input class="form-control mb-2" type="text" name="username" id="register-username"
                        placeholder="Username">
                    <input class="form-control mb-2" type="password" name="password" id="register-password"
                        placeholder="Password">
                    <input class="form-control mb-2" type="password" name="password_" id="register-password_"
                        placeholder="Re-enter password">
                </form>
                <div class="mx-auto" style="width: 85%">
                    <div class="ms-3 text-start">
                        <label for="register-picture" class="form-label text-start">Account Picture</label>
                    </div>
                    <input class="form-control" accept="image/png, image/jpeg" type="file" id="register-picture">
                    <div class="text-start font-weight-bold">
                        <p style="color: darkred;font-weight: 300;margin-bottom: 3px;">This picture will be used in every log in and it can't be changed or downloaded after registration</p>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark w-100" id="register-button">Register</button>
            </div>
        </div>
    </div>
</div>

<body class="text-center">
    <section class="curved mb-5">
        <img src="{% static 'frontend/logo.png' %}">
        <h1 class="mb-4" style="color:rgb(255, 255, 255)">Vault Guard</h1>
        <p style="color:rgb(255, 255, 255)">A secure open-source password manager for everyone.</p>
    </section>
    <h1>Why choose Vault Guard?</h1>
    <div class="container">
        <div class="row justify-content-center p-5">
            <div class="card col-12 col-md-6 m-5 border-0" style="width: 18rem;">
                <img src="{% static 'frontend/home-security-icon.png' %}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Trusted Security</h5>
                    <p class="card-text">Your private information is protected with end-to-end encryption before it ever
                        leaves your device.</p>
                </div>
            </div>
            <div class="card col-12 col-md-6 m-5 border-0" style="width: 18rem;">
                <img src="{% static 'frontend/home-open-source-icon.png' %}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Open Source Transparency</h5>
                    <p class="card-text">Vault Guard source code, features, and infrastructure security are open source.
                    </p>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <a href="http://github.com/adhamsalama/password_manager">Source code.</a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
            integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'frontend/postData.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/getCookie.js' %}" type="text/javascript"></script>

    <script>
        document.querySelector("#login-form").onsubmit = () => false;
        let loginButton = document.querySelector("#login-button");
        async function hash(string) {
            const utf8 = new TextEncoder().encode(string);
            const hashBuffer = await crypto.subtle.digest('SHA-256', utf8);
            const hashArray = Array.from(new Uint8Array(hashBuffer));
            const hashHex = hashArray
                .map((bytes) => bytes.toString(16).padStart(2, '0'))
                .join('');
            return hashHex;
        }
        loginButton.onclick = () => {
            let username = document.querySelector("#login-username").value;
            let password = document.querySelector("#login-password").value;
            let picture = document.querySelector("#login-picture").files[0];
            if(username === ""){
                alert("Enter a user name")
                return
            }
            if(password === ""){
                alert("Enter a password")
                return
            }
            if(picture === undefined){
                alert("Choose the account picture")
                return
            }
            let reader = new FileReader();
            let base64String = "";
            reader.onload = function () {
                base64String = reader.result.toString();
            };
            reader.readAsDataURL(picture);
            reader.onloadend = () => {
                postData(`${window.location.origin}/api/login`, data = {
                username: username,
                password: password,
                image: base64String
            }).then(response => {
                    if (response.ok){
                        hash(username + password).then((hex) => window.localStorage.setItem("key", hex));
                        window.location.replace(`${window.location.origin}/vault`);
                    }
                    else {
                        alert("Invalid credentials.");
                    }
                })
            };
        }
        document.querySelector("#register-form").onclick = () => false;
        let registerButton = document.querySelector("#register-button");
        registerButton.onclick = () => {
            let username = document.querySelector("#register-username").value;
            let password = document.querySelector("#register-password").value;
            let password_ = document.querySelector("#register-password_").value;
            let registerPicture = document.querySelector("#register-picture").files[0];
            if(username === ""){
                alert("Enter a user name")
                return
            }
            if(password === ""){
                alert("Enter a password")
                return
            }
            if(registerPicture === undefined){
                alert("Choose the account picture")
                return
            }
            if (password !== password_) {
                alert("Passwords don't match");
                return;
            }
            let reader = new FileReader();
            let base64String = "";
            reader.onload = function () {
                base64String = reader.result.toString();
            };
            reader.readAsDataURL(registerPicture);
            reader.onloadend = () => {
                postData(`${window.location.origin}/api/register`, data = {
                username: username,
                password: password,
                image: base64String
            }).then(response => {
                    if (response.ok){
                        hash(username + password).then((hex) => window.localStorage.setItem("key", hex));
                        window.location.replace(`${window.location.origin}/vault`);
                    }
                    else {
                        response.json().then(result => alert(result.error));
                    }
                })
            };
            }
            
            
            </script>
</body>

</html>