{% extends 'frontend/layout.html' %}

{% load static %}
{% block title %}Vault{% endblock title %}
{% block body %}

        <div class="row mx-auto">
          <!--Add password form-->
          <form id="add-password-form" class="col-12 col-lg-4" method="post" action="http://127.0.0.1:8000/api/passwords">
              <input class="form-control mb-2" autofocus  type="text" id="email" name="email" placeholder="Email">
              <input class="form-control mb-2"  type="text" id="username" name="username" placeholder="Username">
              <input class="form-control mb-2"  type="password" id="password" name="password" placeholder="Password">
              <input class="form-control mb-2"  type="text" id="url" name="url" placeholder="URL">
              <input class="form-control mb-2"  type="text" id="tags" name="tags" placeholder="Tags">
              <div class="d-grid">
                <button class="btn btn-primary" id="add-button">Add</button>
              </div>
          </form>
          <!--Random Password Generator-->
          <div class="card mx-auto text-center col-12 col-lg-8" style="margin-bottom: 10px;">
    <h5 class="card-header">Random Password Generator</h5>
    <div class="my-3">
      <div class="row py-1">
        <label for="passwordLength" class="col text-start"
          >Password Length:</label
        >
        <select class="custom-select col" id="passwordLength" style="margin-right: 10px;">
          <optgroup label="Weak">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
          </optgroup>
          <optgroup label="Strong">
            <option value="16" selected>16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
          </optgroup>
        </select>
      </div>

      <div class="row py-1">
        <label class="col text-start" style="padding-right: 0">
          Include Numbers:
        </label>
        <div
          class="col"
          style="
            padding-left: 0;
            align-self: center;
            justify-self: start;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
          "
        >
          <input checked id="passwordNumbers" type="checkbox" />
          <span>&nbsp; (e.g. 123456)</span>
        </div>
      </div>

      <div class="row py-1">
        <label class="col text-start" style="padding-right: 0">
          Include Lowercase Characters:
        </label>
        <div
          class="col"
          style="
            padding-left: 0;
            align-self: center;
            justify-self: start;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
          "
        >
          <input checked id="passwordLowercase" type="checkbox" />
          <span>&nbsp; (e.g. abcdefgh)</span>
        </div>
      </div>

      <div class="row py-1">
        <label class="col text-start" style="padding-right: 0">
          Include Upper Characters:
        </label>
        <div
          class="col"
          style="
            padding-left: 0;
            align-self: center;
            justify-self: start;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
          "
        >
          <input checked id="passwordUppercase" type="checkbox" />
          <span>&nbsp; (e.g. ABCDEFGH)</span>
        </div>
      </div>

      <div class="row py-1">
        <label class="col text-start" style="padding-right: 0">
          Begin with a letter:
        </label>
        <div
          class="col"
          style="
            padding-left: 0;
            align-self: center;
            justify-self: start;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
          "
        >
          <input checked id="passwordStartWithLetter" type="checkbox" />
          <span>&nbsp; (don't begin with a number or symbol)</span>
        </div>
      </div>

      <div class="row py-1">
        <label class="col text-start" style="padding-right: 0 ;align-self: center;">
          Include Symbols:
        </label>
        <div
          class="col"
          style="display: flex; flex-direction: row; align-items: center; padding-left: 0;"
        >
            <input checked type="checkbox" id="passwordEnableSymbols" onclick="handleClick(this);" />
            &nbsp; &nbsp;
            <input
              value="~!@#$%^&*()\_+{}|<:>?-=[];,./"
              type="text"
              id="passwordSymbols"
              class="form-control"
            />
          </div>
      </div>

      <div class="row py-1">
        <label class="col text-start" style="padding-right: 0">
          No Similar Characters:
        </label>
        <div
          class="col"
          style="
            padding-left: 0;
            align-self: center;
            justify-self: start;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
          "
        >
          <input id="passwordSimilarCharacters" type="checkbox" />
          <span>&nbsp; (don't use characters like i,I,L,o,O,0)</span>
        </div>
      </div>

      <div class="row py-1">
        <label class="col text-start" style="padding-right: 0">
          No Duplicate Characters:
        </label>
        <div
          class="col"
          style="
            padding-left: 0;
            align-self: center;
            justify-self: start;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
          "
        >
          <input id="passwordDuplicateCharacters" type="checkbox" />
          <span>&nbsp; (don't use same character more than once)</span>
        </div>
      </div>

      <div class="row py-1">
        <label class="col text-start" style="padding-right: 0">
          No Sequential Characters:
        </label>
        <div
          class="col"
          style="
            padding-left: 0;
            align-self: center;
            justify-self: start;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
          "
        >
          <input id="passwordSequentialCharacters" type="checkbox" />
          <span>&nbsp; (don't use sequential characters like: 789)</span>
        </div>
      </div>

      <div class="row py-1">
        <label for="passwordQuantity" class="col text-start">Quantity:</label>
        <select class="custom-select col" id="passwordQuantity" style="margin-right: 10px;">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
    </div>
    <div class="my-2" style="display: flex;justify-content: space-around;">
      <button class="btn btn-primary " style="width: 40%; display: inline;" onclick="generatePassword(this)" id="generate-password">Generate</button>
      <button class="btn btn-primary " style="width: 40%; display: inline;" id="copy-generated-password">Copy</button>
    </div>
    <textarea id="generatedPasswords"  disabled rows="4" style="margin-bottom: 10px; resize: none;" >
    </textarea>
  </div>
  <form id="search-form">
            <div class="mb-3 mx-auto">
                <label for="q" class="form-label">Search</label>
                <input type="text" class="form-control" id="q">
            </div>
        </form>
        <div id="passwords" class="accordion mx-auto"></div>
        <div class="modal" id="modal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <input class="form-control" type="password" id="master-password-input">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="encrypt-decrypt-button" data-bs-dismiss="modal">Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
<div class="modal" id="edit-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="edit-email form-control mb-2">
        <input type="text" class="edit-username form-control mb-2">
        <input type="password" class="edit-password form-control mb-2" placeholder="Enter new password">
        <input type="text" class="edit-url form-control mb-2" placeholder="URL">
        <input type="text" class="edit-tags form-control mb-2" placeholder="Tags">
      </div>
      <div class="modal-footer">
        <button type="button" id="edit-modal-save" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
{% block script %}
    <script src="{% static 'frontend/crypto.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/getPasswords.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/displayPasswords.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/getCookie.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/addPassword.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/logout.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/postData.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/patchData.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/decryptAndCopyPassword.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/getMasterPassword.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/searchPasswords.js' %}" type="text/javascript"></script>    
    <script src="{% static 'frontend/verifyMasterPassword.js' %}" type="text/javascript"></script>    
    <script src="{% static 'frontend/modalClose.js' %}" type="text/javascript"></script>    
    <script src="{% static 'frontend/modalAddPassword.js' %}" type="text/javascript"></script>    
    <script src="{% static 'frontend/editPasswordEvent.js' %}" type="text/javascript"></script>    
    <script src="{% static 'frontend/deletePasswordEvent.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/random.js' %}" type="text/javascript"></script>    
    <script> 
        function handleClick(cb) {
          if (document.getElementById("passwordSymbols").disabled === true)
            document.getElementById("passwordSymbols").disabled = false;
          else document.getElementById("passwordSymbols").disabled = true;
        }
        getPasswords()
        .then(results => displayPasswords(results));

        function HtmlEncode(s) {
          // function to espace HTML special characters
          let el = document.createElement("div");
          el.innerText = el.textContent = s;
          s = el.innerHTML;
          return s;
      }
        // Generate random password
        function generatePassword(cb) {
          let symbols = document.getElementById("passwordSymbols").value;
          let uniqueSymbols = [...new Set(symbols)].join("")
          if(document.getElementById("passwordSymbols").disabled === false && symbols === ""){
            alert("please enter some symbols in the symbols textfield or uncheck the include symbols check box")
            return;
          }
          if(document.getElementById("passwordSymbols").disabled === false && symbols.match(/[a-zA-Z0-9]/g)){
            alert("please enter only symbols in the symbols text field")
            return;
          }
          let length = parseInt(document.querySelector("#passwordLength").value);
          let quantity = parseInt(document.querySelector("#passwordQuantity").value);
          let similar = document.querySelector("#passwordSimilarCharacters").checked;
          let sameChar = document.querySelector("#passwordDuplicateCharacters").checked;
          let seq = document.querySelector("#passwordSequentialCharacters").checked;
          let beginWithChar = document.querySelector("#passwordStartWithLetter").checked;
          let dontIncludeNumber = !(document.querySelector("#passwordNumbers").checked);
          let dontIncludeLC = !(document.querySelector("#passwordLowercase").checked);
          let dontIncludeUC = !(document.querySelector("#passwordUppercase").checked);
          let generatedPassword = generateRandomPassword(quantity,length,uniqueSymbols,similar,sameChar,seq,beginWithChar,dontIncludeNumber,dontIncludeLC,dontIncludeUC);
          document.querySelector("#generatedPasswords").value = generatedPassword.join("\n");
        }

        // Copy generated random password
        document.querySelector("#copy-generated-password").onclick = () => navigator.clipboard.writeText(document.querySelector("#generatedPasswords").value.trim());
    </script>

{% endblock script %}